<div style="background: #ddd;">
  <h2>LAZY BADGE DASHBOARD - Not works yet</h2>

  <div style="margin-bottom: 5px;">
    <button (click)="debugMe()">Debug</button>
  </div>
  <lazy-problems></lazy-problems>
  <div style="margin-bottom: 5px;">
    <button (click)="addBadge()">Add Badge</button>
    <button (click)="addBadgeGroup()">Add Badge Group</button>
  </div>
  <router-outlet></router-outlet>
  <div *ngFor="let outlet of outlets">
    <dynamic-router-outlet styleClass="{{outlet.styleClass}}" name="{{outlet.name}}"></dynamic-router-outlet>
  </div>

  <div *ngIf="loading">
    <h5>Loading...</h5>
  </div>
</div>